.popover {
  width: 350px;
  min-height: 300px;
  padding: 20px;
  color: #555;
}

.closePopover {
  float: right;
  text-align: right;
  color: #bbb;
  cursor: pointer;
  margin-top: -10px;
  margin-right: -10px;
  font-size: 16px;
  border: none;
  background: none;
}

.container {
  display: flex;
  justify-content: flex-end;
}

.btn {
  margin-right: 10px;
  -webkit-transition: border-color 0.25s ease-in-out, box-shadow 0.1s ease-in-out, background-color 0.25s ease-in-out,
    color 0.25s ease-in-out;
  transition: border-color 0.25s ease-in-out, box-shadow 0.1s ease-in-out, background-color 0.25s ease-in-out,
    color 0.25s ease-in-out;
  border: 1px solid #30aabc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  padding: 0 2.25em;
  min-width: 8.3334em;
  overflow: visible;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  line-height: 2.34;
  white-space: nowrap;
  color: #30aabc;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callback: none;
}

.btn:disabled {
  border-color: #eee;
  color: #ddd;
}

.eventTitle {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.description {
}

.eventType {
  font-weight: 600;
  padding-right: 5px;
}

.attendeeInfo {
  overflow: hidden;
  margin: 20px 0px;
}

.attending {
  float: left;
  font-weight: 600;
}

.availableSpots {
  float: right;
}

.attendeeIcons {
  display: flex;
  flex-flow: row nowrap;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  vertical-align: middle;
  padding: 8px 0px;
  position: relative;
  height: 50px;
}

.spotsAvailable {
  float: right;
  font-weight: 600;
  font-size: 18px;
  line-height: 4em;
  display: inline-block;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
}

.figure {
  position: relative;
  margin: 0px;
  padding: 0px;
}

.svg {
  width: 50px;
  height: 50px;
  position: relative;
}

.circle {
  fill: #ddd;
}

.text {
  width: 100%;
  height: 100%;
  line-height: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
