.progressContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.overallProgress {
  display: flex;
  flex-flow: column nowrap;
}

.milestoneLabel {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: 0px;
  padding: 20px 0 5px;
}

.hoursRemaining {
  font-size: 18px;
  text-align: center;
  margin: 0px;
}

.headerAndBar {
  height: 166px;
}

.bar {
  display: flex;
  flex-flow: row nowrap;
  height: 40px;
}

.baseBar {
  border-radius: 5px;
}

.completedBar {
  background-color: #358fb2;
}

.inProgressBar {
  background-color: #5ebbde;
}

.incompleteBar {
  background-color: #ddd;
}

.personalProgress {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-bottom: 40px;
  justify-content: center;
}

.personalLabel {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  padding-right: 20px;
}

.personal {
  font-size: 18px;
}

.label {
  font-size: 14px;
}

.personalTotal {
  font-size: 48px;
  font-weight: 200;
}

.milestoneMarkers {
  display: flex;
  flex-flow: row nowrap;
}

.milestoneMarker {
  border-right: 1px solid #eee;
  text-align: right;
}

.milestoneMarkerLabel {
  text-align: right;
  padding-right: 10px;
}

.milestoneMarkerHours {
  text-align: right;
  padding-right: 10px;
}

.completedMilestone {
  color: #888;
}
