.container {
  display: flex;
  width: 100%;
  height: 100px;
  margin: 0 0 50px 0;
  padding: 0;
  box-shadow: 0px 0px 5px #bbb;
  justify-content: space-around;
}

.wrapper {
  padding: 0 20px;
  width: 935px;
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  align-items: center;
}

.logoBox {
  flex-grow: 2;
}

.logo {
  height: 40px;
}

.adminActions {
  display: flex;
}

.adminBox {
  margin-right: 15px;
}

.popover {
  font-family: inherit;
}

.btn {
  background: none;
  border: none;
  display: flex;
}

.img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  float: left;
  vertical-align: middle;
  margin-right: 10px;
}

.userInfoBox {
  display: inline-block;
  line-height: 16px;
  text-align: left;
}

.userName {
  line-height: 16px;
}

.userOffice {
  color: #555;
}

.item {
  font-size: 14px;
}

.newBadge {
  color: #F79A3E;
  text-transform: uppercase;
}
