<div class="login">
  <div class="branding">
    <%= image_tag 'hands.svg', class: 'signin-logo' %>
    <h1>Volunteer Portal</h1>

    <% if @failure %>
    <p class="signin-error-text">We're sorry, authentication failed.</p>
  <% end %>
  </div>

  <div class="login-form">
    <% if ENV['GOOGLE_CLIENT_ID'] %>
      <%= button_to 'Sign in with Google', '/auth/google_oauth2', class: 'signin-btn google' %>
    <% else %>
      <%= button_to 'Sign in with Okta', '/auth/okta', class: 'signin-btn okta' %>
    <% end %>
  </div>
</div>
