<div class="login">
  <div class="branding">
    <%= image_tag 'hands.svg', class: 'signin-logo' %>
    <h1>Volunteer Portal</h1>

    <% if @failure %>
    <p class="signin-error-text">We're sorry, authentication failed.</p>
  <% end %>
  </div>

  <div class="login-form">
    <%= button_to 'Sign in with Okta', '/auth/saml', class: 'google-signin-btn' %>
  </div>
</div>
