<div class="login">
  <div class="branding">
    <%= image_tag 'hands.svg', class: 'signin-logo' %>
    <h1>Social Impact Engagement Portal</h1>

    <% if @failure %>
    <p class="signin-error-text">We're sorry, authentication failed.</p>
  <% end %>
  </div>

  <div class="login-form">
    <% if ENV['GOOGLE_CLIENT_ID'] %>
      <p>
        <%= button_to 'Sign in with Google', '/auth/google_oauth2', class: 'signin-btn google' %>
      </p>
    <% end %>
    <% if ENV['SAML_ISSUER'] %>
      <p>
        <%= button_to 'Sign in with SAML', '/auth/saml', class: 'signin-btn okta' %>
      </p>
    <% end %>
  </div>
</div>
