.container {
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
}

.progressContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.circularProgress {
  width: 166px;
}

.overallProgress {
  display: flex;
  flex-flow: column nowrap;
}

.milestoneLabel {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: 0px;
  padding: 20px 0 5px;
}

.hoursRemaining {
  font-size: 18px;
  text-align: center;
  margin: 0px;
}

.headerAndBar {
  height: 166px;
}

.bar {
  display: flex;
  flex-flow: row nowrap;
  height: 40px;
}

.baseBar {
  border-radius: 5px;
}

.completedBar {
  background-color: #358fb2;
}

.inProgressBar {
  background-color: #5ebbde;
}

.incompleteBar {
  background-color: #ddd;
}

.personalProgress {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-bottom: 40px;
  justify-content: center;
}

.personalLabel {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  padding-right: 20px;
}

.personal {
  font-size: 18px;
}

.label {
  font-size: 14px;
}

.personalTotal {
  font-size: 48px;
  font-weight: 200;
}

.milestoneMarkers {
  display: flex;
  flex-flow: row nowrap;
}

.milestoneMarker {
  border-right: 1px solid #eee;
  text-align: right;
}

.milestoneMarkerLabel {
  text-align: right;
  padding-right: 10px;
}

.milestoneMarkerHours {
  text-align: right;
  padding-right: 10px;
}

.completedMilestone {
  color: #888;
}

/* leaderboard */
.leaderboardHeader {
  border-bottom: 1px solid #ddd;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.leaderboardUser {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  padding-bottom: 10px;
}

.leaderboardHours {
  font-size: 16px;
}

.menuGroup {
  height: 23px;
  display: flex;
  align-items: baseline;
}

.dropdown {
  height: 25px;
  margin-left: -18px;
  color: #777;
}

.menuLabel {
  color: #777;
  font-weight: 600;
  line-height: 23px;
}

.dropdownMenu {
  color: #777;
}

.menuitem {
  color: #777;
  font-weight: 600;
  line-height: 23px;
  padding: 3px 0px;
}

.underline {
  border: none;
}

.icon {
  top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 25px;
}

.noRightBorder {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.noLeftBorder {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
