.signin-logo {
  border-bottom: 2px solid #eee;
  text-align: center;
  width: 400px;
  margin: 50px auto 50px;
  padding-bottom: 30px;
}

.signin-logo-text {
  display: block;
  color: #78a300;
  font-size: 35px;
  margin-top: 10px;
}

.signin-error-text {
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 20px 0;
}

.login-options {
  text-align: center;
  margin: 0 auto;
}

.signin-msg {
  color: #555;
  display: block;
  margin-top: 20px;
}

.google-signin-btn {
  height: 36px;
  background: white;
  background-image: image-url('google.svg');
  background-repeat: no-repeat;
  background-position: 15px 8px;
  background-size: 20px;
  padding-left: 50px;
  padding-right: 15px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border: none;

  &:hover {
    border: none;
    background-color: #f2f2f2;
    background-image: image-url('google.svg');
    background-repeat: no-repeat;
    background-position: 15px 8px;
    background-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  }

  &:active {
    border: none;
    background-color: #d9d9d9;
    background-image: image-url('google.svg');
    background-repeat: no-repeat;
    background-position: 15px 8px;
    background-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  }
}
